<div class="background"><%= form_for @user do |f| %>
	<div class="body">
	Email: <%= f.text_field :email %>
	Password: <%= f.password_field :password %>
	Confirm Password:<%= f.password_field :password_confirmation %>
	<%= f.submit "Sign up" %>
	
<% end %>
	</div>
</div>