<h1>Edit this review!</h1>

<%= form_for @review do |f| %>
Landlord: <%= f.text_field :landlord %>
Building: <%= f.text_field :building %>
Unit: <%= f.text_field :unit %>
Area: <%= f.text_field :area %>

<%= f.submit "Edit review!" %>


<% end %>	

<%= link_to "Back to the list!", reviews_path %>