<body class="background">
	<div class="body">
		<center><div class="text">

			<br><br>
			<strong>Address:</strong> <br><br><%= @review.address %> <br><br>
			<strong>Landlord:</strong> <br><br><%= @review.landlord %> <br><br>
			<strong>Building:</strong> <br><br><%= @review.building %><br><br>
			<strong>Unit:</strong> <br><br><%= @review.unit %> <br><br>
			<strong>Area:</strong> <br><br><%= @review.area %><br><br>
			<br><br>
			<div class = "links">
        		<center><%= link_to 'Edit this review', edit_review_path %></center>
        		<center><%= link_to 'Delete this review', @review, method: :delete, data: { confirm: 'Are you sure?' } %></center>
				<center><%= link_to "Back to the list", reviews_path %><center>
			</div>
		</div></center>	
	</div>	
</body>	
