<body class="background">
	<div class="body">
		<center><p class="text">

			Address: <%= @review.address %> <br>
			Landlord: <%= @review.landlord %> <br>
			Building: <%= @review.building %><br>
			Unit: <%= @review.unit %> <br> 
			Area: <%= @review.area %>
        	<center><p><%= link_to 'Edit this review', edit_review_path %></p></center>
        	<center><p><%= link_to 'Delete this review', @review, method: :delete, data: { confirm: 'Are you sure?' } %> </p></center>
		
		<%= link_to "Back to the list", reviews_path %>
		</p></center>	
	</div>	
</body>	
